@model IEnumerable<ConciergeWebApplication.Models.Tenant>

@{
    ViewData["Title"] = "Жильці квартири";
}

<h1>Жильці квартири @ViewBag.ApartmentNumber </h1>

<p>
    @Html.ActionLink("Додати жильця", "Create", new { apartmentId=@ViewBag.ApartmentId})
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appartment.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appartment.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TenantId">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.TenantId">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.TenantId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
