@model ConciergeWebApplication.Models.VisitingApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Деталі</h1>

<div>
    <h4>VisitingApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PeriodEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PeriodEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartment.ApartmentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApplicationId">Edit</a> |
    <a asp-action="Index">Назад</a>
</div>
